<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Fibo</title>

<!-- TODO:  -->
<!-- <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="main.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div>

  <div id="vue-main" style="width: 100%;">
    <div style="width: 70%; margin: 0 auto;">
      <h1>Fibo</h1>
      <fibo-base></fibo-base>
    </div>
  </div>
</div>



<script type="x-template" id="base-template">
<input type="number" min="2" v-model="n">

<div style="background-color: #0000ff; width: 100%; position: relative;">
  <div style="background-color: {{color}}; width: {{width}}%; position: absolute;">
    <div class="square"></div>
  </div>
  <div style="width: {{100-width}}%; position: absolute; left: {{width}}%;">
    <fibo-b n="{{n-1}}"></fibo-b>
  </div>
</div>
</script>



<script type="x-template" id="a-template">
<div v-if="n==1">
  <div style="width: 50%; position: absolute; background-color: #ffff00">
    <div class="square" style="background-color: {{colorn(n)}};"></div>
  </div>
  <div style="width: 50%; left: 50%; position: absolute; background-color: #ffff00">
    <div class="square" style="background-color: {{colorn(n-1)}};"></div>
  </div>
</div>

<div v-if="n>1">
  <div style="width: {{a}}%; background-color: {{colorn(n)}}; position: absolute;">
    <div class="square"></div>
  </div>

  <div style="width: {{100-a}}%; left: {{a}}%; position: absolute;">
    <fibo-b n="{{n-1}}"></fibo-b>
  </div>
</div>
</script>



<script type="x-template" id="b-template">
<div v-if="n==1" style="width: 100%; position: absolute;">
  <div class="square" style="background-color: {{colorn(n)}};"></div>
  <div class="square" style="background-color: {{colorn(n-1)}};"></div>
</div>

<div v-if="n>1" style="width: 100%; position: absolute;">
  <div class="square" style="background-color: {{colorn(n)}}; position: relative;"></div>
  <div style=" width: 100%; position: absolute;">
    <fibo-c n="{{n-1}}"></fibo-c>
  </div>
</div>
</script>



<script type="x-template" id="c-template">
<div v-if="n==1">
  <div style="width: 50%; position: absolute; background-color: #ffff00">
    <div class="square" style="background-color: {{colorn(n)}};"></div>
  </div>
  <div style="width: 50%; left: 50%; position: absolute; background-color: #ffff00">
    <div class="square" style="background-color: {{colorn(n-1)}};"></div>
  </div>
</div>

<div v-if="n>1">
  <div style="width: {{a}}%; left: {{100-a}}%; background-color: {{colorn(n)}}; position: absolute;">
    <div class="square"></div>
  </div>

  <div style="width: {{100-a}}%; position: absolute;">
    <fibo-d n="{{n-1}}"></fibo-d>
  </div>
</div>
</script>



<script type="x-template" id="d-template">
<div v-if="n==1" style="width: 100%; position: absolute;">
  <div class="square" style="background-color: {{colorn(n)}};"></div>
  <div class="square" style="background-color: {{colorn(n-1)}};"></div>
</div>

<div v-if="n>1" style="width: 100%; position: relative; background-color: #ff0000; height: 100%;">
  <div style="width: 100%; position: absolute;">
    <fibo-a n="{{n-1}}"></fibo-a>
  </div>
  <div class="square" style="margin-top: {{fib(n-1)/fib(n)*100}}%; width: 100%;  background-color: {{colorn(n)}}; position: absolute;"></div>
</div>
</script>



<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="main.js"></script>

</body>
