<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Fibo</title>

<!-- TODO:  -->
<!-- <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="main.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div>
  <h1>Fibo</h1>

  <div id="vue-main">
    <input type="number" min="2" v-model="n">
    <br>
    <div style="background-color: #0000ff; width: 70%; position: relative;">
      <div style="background-color: {{color}}; width: {{a}}%; position: absolute;">
        <div class="square"></div>
      </div>

      <div v-if="n==2" style="width: {{b}}%; left: {{a}}%; position: absolute;">
        <div class="square" style="background-color: {{colorn(n-1)}}"></div>
        <div class="square" style="background-color: {{colorn(n-2)}}"></div>
      </div>

      <div v-if="n>2" style="width: {{b}}%; left: {{a}}%; position: absolute;">
        <div class="square" style="background-color: {{colorn(n-1)}}"></div>

        <div v-if="n==3">
          <div style="background-color: {{colorn(n-2)}}; width: 50%; padding-top: 50%;            position: absolute;"></div>
          <div style="background-color: {{colorn(n-3)}}; width: 50%; padding-top: 50%; left: 50%; position: absolute;"></div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="main.js"></script>


</body>
